html {
  background-image: url(https://w.wallhaven.cc/full/wy/wallhaven-wyp7ep.jpg);
  overflow: hidden;
}

#particles-js {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainWindow {
  position: absolute;
  width: 99%;
  height: 87%;
  bottom: 1%;
  left: 0.5%;
  border: 2.25px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 12.5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(12, 26, 28, 0.8);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(0, 0);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, transform 0.4s ease, border-radius 0.4s ease;
}

.mainWindow:hover {
  width: calc(99% + 0.5em);
  height: calc(87% + 0.5em);
  left: calc(0.5% - 0.25em);
  bottom: calc(1% - 0.25em);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(26, 28, 28, 0.9);
  border: 2.5px solid rgb(38, 222, 250);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.waybar {
  position: absolute;
  width: calc(99% - 12.5vh);
  height: 10.25%;
  top: 1%;
  right: 0.5%;
  border: 2.25px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 12.5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(12, 26, 28, 0.8);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(0, 0);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, right 0.4s ease, bottom 0.4s ease, transform 0.4s ease, border-radius 0.4s ease;
}

.waybar:hover {
  width: calc((99% - 12.5vh) * 1 + 0.5em);
  height: calc(10.25% + 0.5em);
  right: calc(0.5% - 0.125em);
  top: calc(1% - 0.25em);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(26, 28, 28, 0.9);
  border: 2.5px solid rgb(38, 222, 250);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.iframeWindow {
  position: absolute;
  width: 99%;
  height: 87%;
  bottom: 1%;
  left: 0.5%;
  border: 2.25px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 12.5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(12, 26, 28, 0.8);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(0, 0);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, transform 0.4s ease, border-radius 0.4s ease;
}

.iframeWindow:hover {
  width: calc(99% + 0.5em);
  height: calc(87% + 0.5em);
  left: calc(0.5% - 0.25em);
  bottom: calc(1% - 0.25em);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(26, 28, 28, 0.9);
  border: 2.5px solid rgb(38, 222, 250);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menu {
  fill: #ffffff;
  stroke: #ffffff;
  position: absolute;
  width: calc(12.5vh - 0.5%);
  height: 10.25%;
  top: 1%;
  left: 0.5%;
  border: 2.25px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 12.5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(12, 26, 28, 0.8);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(0, 0);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, transform 0.4s ease, border-radius 0.4s ease;
}

.iframeWindow:hover {
  width: calc(99% + 0.5em);
  height: calc(87% + 0.5em);
  left: calc(0.5% - 0.25em);
  bottom: calc(1% - 0.25em);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(26, 28, 28, 0.9);
  border: 2.5px solid rgb(38, 222, 250);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}

.menu {
  fill: #ffffff;
  stroke: #ffffff;
  position: absolute;
  width: calc(12.5vh - 0.5%);
  height: 10.25%;
  top: 1%;
  left: 0.5%;
  border: 2.25px solid rgba(156, 156, 156, 0.3568627451);
  border-radius: 12.5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(12, 26, 28, 0.8);
  backdrop-filter: blur(1em) brightness(1) contrast(1.1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(0, 0);
  transition: background-color 0.4s ease, width 0.4s ease, height 0.4s ease, left 0.4s ease, bottom 0.4s ease, transform 0.4s ease, border-radius 0.4s ease;
}

.menu:hover {
  width: calc((12.5vh - 0.5%) * 1 + 0.25em);
  height: calc(10.25% + 0.25em);
  left: calc(0.5% - 0.125em);
  top: calc(1% - 0.125em);
  border-radius: calc(12.5px + (12.5vh - 0.5%) * 1 + 0.25em - (12.5vh - 0.5%) + 2px);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(26, 28, 28, 0.9);
  border: 2.5px solid rgb(38, 222, 250);
  backdrop-filter: blur(1.5em) brightness(1.2) contrast(1.15);
}/*# sourceMappingURL=xorro.css.map */