.iframeWindow {
    position: absolute;
    @if $uniMargin != 0% {
        width: calc((100% - (2 * $uniMargin)));
        height: calc(100% - $uniMargin - $waybarHeight);
        bottom: calc(2 * ($uniMargin));
        left: $uniMargin;
    } @else {
        width: calc((100% - (2 * $sideMargin)));
        height: calc(100% - $bottomMargin - $waybarHeight);
        bottom: calc(2 * ($bottomMargin));
        left: $sideMargin;
    }
    border: $borderThickness solid $borderCol;
    border-radius: $borderRad;
    box-shadow: $shadowRad $shadowCol;
    background-color: $windowCol;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(0, 0);
    transition: 
        background-color $transitionSpeed ease,
        width $transitionSpeed ease,
        height $transitionSpeed ease,
        left $transitionSpeed ease,
        bottom $transitionSpeed ease,
        transform $transitionSpeed ease,
        border-radius $transitionSpeed ease;
}

.iframeWindow:hover {
    // Conditional hover styling for iframeWindow
    @if $uniMargin != 0% {
        width: calc((((100% - (2 * $uniMargin))) * $hoverCoefficient) + $hoverConst); // Width adjustment on hover
        height: calc(((100% - $uniMargin - $waybarHeight) * $hoverCoefficient) + $hoverConst); // Height adjustment on hover
        right: calc($uniMargin - (((100% - (2 * $uniMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2)); // Right position adjustment on hover
        bottom: calc(2 * $uniMargin - (((100% - $uniMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2)); // Bottom position adjustment on hover
        border-radius: calc(($borderRad * $hoverBorderRad) + (((((perToInt($waybarHeight) * 1vh - ($uniMargin)) * $hoverCoefficient) + ($hoverConst * perToInt($uniMargin)))) - (perToInt($waybarHeight) * 1vh - ($uniMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    } @else {
        width: calc((((100% - (2 * $sideMargin))) * $hoverCoefficient) + $hoverConst); // Width adjustment on hover
        height: calc(((100% - $bottomMargin - $waybarHeight) * $hoverCoefficient) + $hoverConst); // Height adjustment on hover
        right: calc($sideMargin - (((100% - (2 * $sideMargin)) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2)); // Right position adjustment on hover
        bottom: calc(2 * $bottomMargin - (((100% - $sideMargin - $waybarHeight) * ($hoverCoefficient - 1)) / 2) - ($hoverConst / 2)); // Bottom position adjustment on hover
        border-radius: calc(($borderRad * $hoverBorderRad) + (((((perToInt($waybarHeight) * 1vh - ($bottomMargin)) * $hoverCoefficient) + ($hoverConst * perToInt($bottomMargin)))) - (perToInt($waybarHeight) * 1vh - ($sideMargin))) + (($borderRad * $hoverBorderRad) / ((($borderRad * $hoverBorderRad) / 1px) / 2)));
    }
    box-shadow: $shadowRad $shadowCol; // Box shadow styling
    background-color: $hoverWindowCol; // Background color on hover
    border: $hoverBorderThickness solid $hoverBorderCol; // Border styling on hover
    // Backdrop filter adjustments on hover
    backdrop-filter:
        blur($hoverWindowBlur)
        brightness($hoverWindowBrightness)
        contrast($hoverWindowContrast);
}