// Background
$bgCol: #000000;

// Window Properties
$windowCol: rgba(12, 26, 28, 0.8);
$windowBlur: 1em;
$windowBrightness: 1;
$windowContrast: 1.1;

// Shadow properties
$shadowCol: rgba(0, 0, 0, 0.5);
$shadowRad: 5px 5px 5px;

// Hover Vars
$hoverConst: 0.5em;
$hoverCoefficient: 1;
$hoverWindowBlur: 1.5em;
$hoverWindowBrightness: 1.2;
$hoverWindowContrast: 1.15;
$hoverBorderCol: rgba(38, 222, 250, 1);
$hoverWindowCol: rgba(26, 28, 28, 0.9);
$hoverBorderThickness: 2.5px;

// Margins
$uniMargin: 0.5%;
$bottomMargin: 1%;
$sideMargin: 0.5%;
$waybarHeight: 10%;

// Border
$bevelRad: 12.5px;
$borderThickness: 2.25px;
$borderCol: #9c9c9c5b;

// Transitions
$transitionSpeed: 0.4s;

// Menu
$menuButtonCol: #ffffff;