$bgCol: #000000;
$borderCol: #0000009d;
$bevelRad: 22.5px;
$borderThickness: 3px;
$windowCol: rgb(255, 255, 255, 0.5);
$windowBlur: 0.5em;
$windowBrightness: 1;
$windowContrast: 1.1;
$bottomMargin: 1%;
$sideMargin: 1%;
$wayBarHeight: 20%;